.banner {
   width: 100%; height: 550px;
   background: #000;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.banner-item {
   width: 100%;
}

.slide-panel {
   width: 100%; height: 100%;
   display: flex;
   align-items: center;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
}
.slide-panel::-webkit-scrollbar {
   display: none;
}
.prev, .next {
   width: 2em; height: 2em;
   cursor: pointer;
   background: #fff;
}

.banner img {
   scroll-snap-align: start;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

















.new-panel__grid {
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 0.5fr 2fr 0.4fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}

.section-title {
   font-size: 50px;
   font-weight: 400;
   text-transform: uppercase;
   line-height: 0.8;
}
.section-body {
   font-weight: 400;
   font-size: 1.2em;
}

.new-panel__control {
   display: flex; 
   align-items: center;
   justify-content: flex-end;
   align-self: start;
   gap: 5%;
}
.arrow {
   width: 36px; height: 36px;
   border: 1px solid var(--grey);
   border-radius: 50%;
}
.arrow:hover {
   background: var(--light-grey);
   border-color: var(--light-grey);
}

.carousel {
   grid-area: 2 / 1 / 3 / 5;
}
.carousel__item {
   width: calc(110px * 3);
   border: 1px solid var(--light-grey);
}
.carousel__item-img {
   width: 100%; aspect-ratio: 1/1;
   & img {
      height: 100%;
      object-fit: contain;
   }
}
.carousel__item-info {
   padding: 5px 10px;
   position: relative;
}
.carousel__item-title {
   width: 90%;
   font-weight: 600;
   letter-spacing: 0.03em;
}
.carousel__item-body {
   font-weight: 500;
}
.carousel__item-price {
   margin: 1em 0 0.5em;
   font-weight: 600;
   font-size: 14px;
}
.carousel__item-btn {
   position: absolute;
   top: 0.5em; right: 1em;
   width: 22px; height: 22px;
}
.carousel__item-btn img {
   width: 100%; aspect-ratio: 1;
}

.section-link {
   grid-area: 3 / 1 / 4 / 5;
   padding: 1em 2em;
   letter-spacing: 0.1em;
   border-bottom: 1px solid var(--grey);
   position: relative;
}
.section-link a {
   position: absolute;
   font-weight: 600;
   color: var(--dark-grey);
   bottom: 0; right: 0;
   padding: 0.8em;
}
.section-body {
   color: var(--dark-grey);
}



.collections-panel__grid {
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}
.collections__item {
   height: 580px;
   aspect-ratio: 4/5;
   overflow: hidden;
   position: relative;
   color: var(--white);
}
.collections__item:not(.collections__item:first-child, .collections__item:last-child){
   background: var(--black);
}
.collections__item img {
   width: 100%; height: 100%;
   opacity: 0.9;
   object-fit: cover;
}
.collections__item:first-child {
   padding: 1.5em 2em;
}
.collections__item .section-title {
   width: 80%;
   margin-bottom: 1em;
}

.collection-title {
   position: absolute;
   bottom: 2em;
   left: 2.5em;
   color: inherit;
   font-size: 1.7em;
   text-transform: uppercase;
   letter-spacing: 0.02em;
   font-weight: 500;
}
.collections__item:last-child {
   color: var(--black);
   border-bottom: 1px solid var(--black);
   position: relative;
}
.collections__item:last-child .collection-title {
   position: absolute;
   bottom: 0; left: 60%;
   font-size: 1.1em;
   width: max-content;
   font-weight: 600;
   color: var(--dark-grey);
   text-transform: lowercase;
}