.site-up {
   position: fixed;
   bottom: 2em;
   right: 1em;
   width: 40px; aspect-ratio: 1;
   border: 1px solid var(--black);
   background: var(--white);
   
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
}
.visible {
   opacity: 1;
}
.site-up img {
   width: 60%; aspect-ratio: 1;
   object-fit: contain;
}